
#page4 {
    min-height: 150vh;
    max-width: 100vw;
    overflow: hidden;
    align-items: center;
    background-color: #EEEAE3;
    padding: 4vw;

}

#page4 .container {
    height: 110vh;
    margin: 0vw 2vw;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    


}

#page4 .container .part1 {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: start;
    border-radius: 20px;
    align-items: center;
   
}
.part1 h1{
    color: #EEEAE3;
    
}

.part1 p{
    color: #EEEAE3;
}

#page4 .container .part2 {
   
    height: 100%;
    width: 60%;
    border-radius: 20px;
    background-color: blue;
    background-size: fill;
    background-repeat: no-repeat;
    background-image: url('https://edm.com/.image/t_share/MTYzMDg0ODk1NDkxNDY3MDI1/dsc_2893.jpg');
}

